/*************** GENERAL STYLES ***************/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    scroll-behavior: smooth;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    color: #9AA7BE;
    font-size: 1em;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.175px;
    background-color: #E6EFF5;
    font-family: 'Karla', sans-serif;
}

#root {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

main {
    width: 82.9%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    margin: 72px 0 62px 0;

}

section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.container {
    width: 84.6%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

/*************** TOP ****************/
.top {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    background: #fff;
    border-radius: 10px 10px 0 0;
}

.top h1 {
    width: 100%;
    margin: 28px 0 24px 0;
    font-size: 1.43em;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: -0.25px;
    color: #2AB3B1;
}

.top h2 {
    font-size: 1.07em;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.19px;
    color: #C0DF33;
}

.top p {
    margin: 16px 0 32px 0;
}

/*************** SUBSCRIPTION *****************/
.subscription {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    background: #2AB3B1;
}

.subscription h2 {
    width: 100%;
    font-size: 1.29em;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: -0.23px;
    color: #fff;
    margin: 24px 0 18px 0;
}

.subscription .monthly {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-flow: row wrap;
}

.monthly .price {
    margin-right: 11px;
    font-size: 2.29em;
    font-weight: 700;
    line-height: 37px;
    letter-spacing: -0.4px;
    color: #fff;
}

.monthly .rate {
    font-size: 1.14em;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.2px;
    color: #fff;
    opacity: 0.5;
}

.subscription .access {
    margin: 4px 0 26px 0;
    font-size: 1.14em;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.2px;
    color: #fff;
}

.subscription button {
    width: 100%;
    padding: 15px;
    color: #fff;
    background: #C0DF33;
    border-radius: 10px;
    border: none;
    font-size: 1.14em;
    font-weight: 700;
    margin-bottom: 24px;
}

/***************** WHY US *****************/
.why-us {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    background: #4abebd;
}

.why-us h2 {
    width: 100%;
    margin: 24px 0 18px 0;
    color: #fff;
    font-size: 1.29em;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: -0.23px;
}

.why-us ul {
    width: 100%;
    list-style: none;
    color: #fff;
    opacity: 0.75;
    margin-bottom: 24px;
    font-size: 1em;
    line-height: 20px;
    letter-spacing: -0.175px;
    font-weight: 400;
    opacity: 0.75;
}

/***************** DESKTOP STYLES *****************/

@media (min-width: 1440px) {
    /**************** GENERAL STYLES *****************/

    main {
        max-width: 635px;
        width: 44.1%;
    }

    /***************** TOP ********************/

    .top {
        width: 100%;
    }

    .top .container {
        width: 87.4%;
    }

    .top h1 {
        font-size: 1.71em;
        line-height: 28px;
        letter-spacing: -0.3px;
        color: #2AB3B1;
        margin: 40px 0 24px 0;
    }

    .top h2 {
        width: 100%;
        font-size: 1.29em;
        line-height: 21px;
        letter-spacing: -0.23px;

    }

    .top p {
        margin: 11px 0 40px 0;
        font-size: 1.14em;
        line-height: 26px;
        letter-spacing: -0.2px;
    }

    /***************** BOTTOM ********************/

    .bottom {
        align-items: stretch;
        margin: 0;
        padding: 0;
    }

    .subscription,
    .why-us {
        width: 50%;
        margin: 0;
        padding: 0;
    }

    .subscription {
        border-bottom-left-radius: 10px;
    }

    .why-us {
        border-bottom-right-radius: 10px;
    }

    .subscription .container {
        height: 100%;
        width: 74.9%;
    }

    .subscription h2 {
        font-size: 1.14em;
        line-height: 21px;
        letter-spacing: -0.23px;
        margin: 40px 0 18px 0;
    }

    .subscription .monthly {
        align-items: center;
    }

    .subscription .access {
        margin: 4px 0 0 0;
    }

    .subscription button {
        margin: 26px 0 40px 0;
    }

    /***************** WHY US *****************/

    .why-us .container {
        width: 74.9%;
    }

    .why-us h2 {
        margin: 40px 0 18px 0;
    }

    .why-us ul {
        margin-bottom: 40px;
    }

}